$fonts:
    'Raleway', sans-serif,
    'Marcellus', serif;

$colores:
    rgba(252, 232, 173, 0.452),
    rgb(70, 67, 67),
    rgb(250, 165, 9),
    rgb(235, 188, 46),
    white,
    rgba(70, 67, 67, 0.75),
    rgba(70, 67, 67, 0.5);

$fsize:
    1em,
    0.85em,
    1.7em,
    250%,
    x-large,
    300%,
    large,
    xx-large,
    120%;

$fpeso:
    bold,
    bolder;

$anchos:
    95%,
    80%,
    4%,
    99%,
    101.3;
    

