
$animacion: all 0.3s ease;
$centrar: 0 auto;
$centrary: auto 0;
$oculto: none;
$mostrar:content;
$curvaborde:25%;

$conserif:'Marcellus', serif;
$sinserif:'Raleway', sans-serif;

$fondo: rgba(252, 232, 173, 0.452);
$gris:rgb(70, 67, 67);
$xnaranja:rgb(250, 165, 9);
$naranja:rgb(235, 188, 46);
$xclaro:rgb(255, 252, 244);
$claro:white;
$xgris:rgba(70, 67, 67, 0.75);
$xxgris:rgba(70, 67, 67, 0.5);

$positextcat: 25%;